* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* to remove horizontal scroll */
body,
html {
    overflow-x: hidden;
}

/* ============ navbnar =========== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 18px;
    color: whitesmoke;
    background-image: url(./img/4.jpg);
}

.navlink {
    display: flex;
    align-items: center;
    list-style: none;
}

.navlink li {
    margin: 0px 20px;
    font-weight: bold;
    font-size: 18px;
}

.navlink li a {
    color: whitesmoke;
}

#explore {
    border: 2px solid red;
    background-color: red;
    border-radius: 8px;
    padding: 5px;
}

.logo {
    margin-top: 5px;
}

/* ===============first page==================== */
header {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/4.jpg);
    background-size: cover;
    background-position: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 130px;
    color: whitesmoke;
    text-align: center;
}

.line {
    border: 2px solid #ff006f;
    width: 20vmin;
    margin: 3px auto;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

.header-content h2 {
    font-size: 3vmin;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header-content a {
    padding: 6px;
}

.ctn {

    color: whitesmoke;
    font-size: 3vmin;
    background-color: #ff006f;
    border: 2px solid ff00b6;
    border-radius: 4px;
    padding: 5px;
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    display: none;

}

/* ============= second page================== */
section {
    width: 90%;
    margin: 80px;
}

.title {
    text-align: center;
    font-size: 4vmin;

}

.row {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;

}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row .col img {
    width: 80vmin;
    height: 60vmin;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 6vmin;
    margin-top: 12px;

}

p {
    padding: 5px 10px;
    margin-bottom: 11px;
}

/* =============== third page============= */
.explore {
    width: 100vw;
    height: 90vh;
    color: whitesmoke;
    background-image: url('./img/3.jpg');
    background-size: cover;
    background-position: cover;
}

.discription {
    padding: 104px 77px;
}

.discription h1 {
    width: 50%;
    padding: 10px;
    font-size: 6vmin;
}

.discription p {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 12px;
}

.third-page-line {
    border: 2px solid #ff00b6;
    width: 20vmin;
    margin-left: 25px;
}

/*  ================= fourth page================ */
.tours-destinations {
    display: flex;
    height: 80vh;
    margin-top: 40px;

}

.first-section {
    width: 40%;
    margin: 100px 100px;
}

.second-section {
    width: 60%;
    margin: 67px 0px 0px 90px;
    display: flex;
}

.img-1 img {
    width: 200px;
    height: 160px;
    padding: 10px;
}

.img-2 img {
    width: 220px;
    height: 160px;
    padding: 10px;
}

.line-forth {
    border: 2px solid #ff00b6;
    width: 30vmin;
    margin: 10px;
}

.know-more-btn {
    border: 2px solid #ff00b6;
    background-color: #ff006f;
    color: whitesmoke;
    border-radius: 3px;
    padding: 5px;
    margin-top: 15px;
}

#btn-3 {
    margin-left: 60px;
}

#btn-4 {
    margin-left: 9px;
}

/* ============ footer ========== */
.footer {
    background-color: rgb(102 96 157);
    width: 100vw;
    height: 20px;
    height: 10vmin;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2vmin;
}

/* ============ for mobile device =========== */

@media only screen and (max-width:650px) {
    .navbar {
        padding-top: 44px;
        background-image: url(./img/4.jpg);

    }

    .logo {
        position: absolute;
        top: 13px;
        left: 25px;

    }

    .navlink {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 90vh;
        background-color: rgb(35, 17, 58);
        /* border-bottom-right-radius: 30%; */
        border-radius: 25px;
        margin-top: -1200px;
        transition: all 0.5s ease;
    }

    .navlink li {
        margin: 20px;
    }

    .menu-btn {
        display: block;
        width: 48px;
        margin-right: 10px;
        margin-top: -12px;
        background: white;
        border: 2px solid whitesmoke;
        border-radius: 14px;

    }

    .mobile-menu {
        margin-top: 0px;
    }

    .discription p {
        width: 90%;

    }

    section {
        margin: 22px;
    }

    h4 {
        margin-top: 20px;
    }

    p {
        margin-top: 12px;
        text-align: justify;
    }

    .events .row {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .row .col {
        margin-top: 36px;
    }

    .discription h1 {
        width: 116%;

    }

    .first-section {
        width: 76%;
        margin: 53px 41px 8px 39px;
    }

    .tours-destinations {
        flex-direction: column;
        margin-top: -20px;
    }

    .second-section {
        display: flex;
        flex-direction: column;
        margin: 50px 0px 0px 31px;
    }

    .tours-destinations {
        height: 100%;

    }

    img {
        width: 20px;
    }

    .img-1 img {
        margin-left: 6px;
        margin-top: -10px;
        width: 340px;
        height: 267px;
        padding: 8px;
    }

    .img-2 img {
        margin-left: 6px;
        margin-top: -10px;
        width: 340px;
        height: 267px;
        padding: 8px;
    }

    .footer {
        height: 16vmin;
    }
}

@media only screen and (max-width:850px) and (min-width:650px) {
    section {
        margin: 21px 40px;
    }

    .row {
        flex-direction: column;
    }

    .row .col {
        padding: 14px;
    }

    .first-section {
        margin: 60px 44px;
    }

    .second-section {
        margin: 37px 61px;
    }

    .tours-destinations {
        height: 74vh;
        display: flex;
        flex-direction: column;
    }

    .discription h1 {
        width: 100%;

    }

    .discription p {
        width: 76%;
        margin-top: 20px
    }

    .first-section {
        width: 84%;
    }

    .img-1 img {
        width: 297px;
        height: 240px;
        padding: 5px 5px;
    }

    .img-2 img {
        width: 297px;
        height: 240px;
        padding: 1px;
        padding: 5px 5px;
    }
}